*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
   
}
.text{
    text-align:center;
    margin-top: 20px;
    color: aliceblue;
}

.help{
    text-align: center;
    padding-top: 150px;
    font-size: 40px;
    color: aliceblue;
}
.help2{
    padding-top: 20px;
}
#s-letter{
    margin-top: 10px;
}
.first-part{
   background-image: url(images/donation13.jpg);
   background-repeat: no-repeat;
   height: 100vh;   
   background-size:cover;
}
.my-button{
   margin-left: 600px;
   margin-top: 10px;
}
.donate{
    padding: 17px 27px;
    background-image: linear-gradient(tomato,orange);
    border-radius: 10px;
    margin-top: 10px;
}
.donate-today{
    text-align: center;
    margin-top:50px ;
    margin-bottom: 10px;
    font-size: 30px;
}
.donate-text{
    text-align: center;

}
.donate-button{
    display: flex;
    justify-content: center;
    margin-top: 30px;   
}
.amount{
    text-decoration: none;
   padding: 25px;
   margin: 0 30px;
   border: none;
   border-radius: 5px;
}
#amount2{
    background-color: tomato;
    border-radius: 5px;
}
.line{
    margin-top: 10px 0;
    border-bottom: 2px solid gray;
    width: 50%;
   margin: auto;
   margin-top: 15px;
}
.amount-text{
    color: gray;
    text-align: center;
    margin-top: 70px;
}

.plan{
    text-align: center;
    font-size: 30px;
    margin-top: 70px ;
    margin-bottom: 40px;
}
.card-part{
    display: flex;
    justify-content:center;
    margin: 50px 40px 0 40px;
    padding: 0 30px;
}
.food{
    
    background-color: rgba(223, 240, 235, 0.679);
    margin: 0 40px;
    padding: 30px;
    border-radius: 10px;
}
.foodhead{
    padding: 10px 0;
}
.education{
    background-color:rgba(245, 215, 215, 0.524);
    margin: 0 40px;
    padding: 30px;
    border-radius: 10px;
}
.shelter{
    background-color: rgba(186, 165, 136, 0.585);
    margin: 0 40px;
    padding: 30px;
    border-radius: 10px;
}
.bonus-part{
    display: flex;
    margin-top: 50px;
}
.bonus-image{
    width: 100%;
    height: 100%;
}
.experience{
    margin-bottom: 30px;
}
.bonus-text{
    margin-left:30px ;
}
.update-part{
    text-align: center;
    font-size: 30px;
}
.update{
    margin: 70px 0;
   
    
}
.update-text{
    text-align: center;
    margin-top: 20px;
}
.experience{
    color: tomato;
}
.input-field{
    text-align: center;
    margin: 30px 0;
    background-color: rgba(240, 210, 205, 0.942);
    margin:0 450px;
    padding: 60px 0;
    margin-top: 40px;
    border-radius: 15px;
}
.Subscribe{
    padding:0 10px ;
    background-image: linear-gradient(tomato,orange);
    border-radius: 5px;
}
.footer-text{
    color: tomato;
    text-align: center;
}
footer{
    background-color: black;
    padding: 50px 0;
    margin-top: 20px;
}
footer p{
    color: aliceblue;
    text-align: center;
    padding-top: 10px;
}
footer h4{
    color: brown;
    text-align: center;
    padding-top: 10px;
}